<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Modificar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="StyleSheet" href="/animal.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kreon&display=swap" rel="stylesheet">
</head>
<body>
<div id="contenedor">
    <A name="arriba"></A>
    <A name="primero">
        <header><h1>Sistema de Adopción de Animales Domésticos</h1></header>
    </A>
    <form th:action="@{/logout}" method="post">
        <button class="btn" style="position: absolute;top: 0;right: 0;" name="btnSalir"><img src="salir2.png"/></button>
    </form>
    <nav>
        <ul>
            <li><a href="http://localhost:9090/principal"> Inicio</a></li>
            <li><a href="http://localhost:9090/InicioProductos"> Registrar Productos</a></li>
            <li><a href="http://localhost:9090/infoProductos"> Consultar Productos</a></li>
            <li><a href="http://localhost:9090/modificarProductos"> Modificar Productos</a></li>
            <li><a href="http://localhost:9090/eliminarProductos"> Eliminar Productos</a></li>
            <li><a href="http://localhost:9090/adoptarProductos"> Comprar Productos</a></li>
        </ul>
    </nav>
    <center>
        <div class="div">
            <form action="#" th:action="@{/updateProduct}" th:object="${product}" method="post"
                  enctype="multipart/form-data">
                <br>
                <br>
                <label class="textT"> Codigo de barras: </label>
                <input class="input" type="text" th:field="*{id}"/>

                <label class="textT"> Nombre del producto: </label>
                <input class="input" type="text" th:field="*{producto}"/>

                <label class="textT"> Precio: </label>
                <input class="input" type="text" name="raza" th:field="*{precio}">

                <label class="textT"> Cantidad: </label>
                <input class="input" type="text" name="raza" th:field="*{cantidad}">

                <br><br>
                <label class="textT"> Seleccionar Fotografía:</label>
                <input type="file" class="textT" name="adjunto" accept=".pdf,.jpg,.png" th:field="*{foto}">

                <br><br><br><br>
                <button class="textT" id=boton name="btnRegistrar">Modificar</button>
            </form>
        </div>
    </center>
</div>
</body>
</html>